/* .container{
    border: 1opx solid;
} */
*{  border: 1px solid black;
    padding: 1rem;
    margin 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    min-height: 12rem;
}
nav{
    min-height: 6rem;
}
.content{
    
}